<%- include('./partials/mainheader.ejs') %>

<!-- TEAM -->
<div class="diffSection" id="team_section">
    <center>
      <p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px">
        We're Team Members
      </p>
    </center>
    <div class="totalcard">
      <div class="card">
        <center><img src="images/creator/aniket.jpg" /></center>
        <center>
          <div class="card-title">Aniket Kumar</div>
          <div id="detail">
            <p>
              “ You can teach a student a lesson for a day; but if you can
              teach him to learn by creating curiosity, he will continue the
              learning process as long as he lives “
            </p>
            <div class="duty"></div>
            <a href="https://www.linkedin.com/in/eraniket95" target="_blank"
              ><button class="btn-aniket">Follow +</button></a
            >
          </div>
        </center>
      </div>
      <div class="card">
        <center><img src="images/creator/srijan.jpg" /></center>
        <center>
          <div class="card-title">Srijan Kumar</div>
          <div id="detail">
            <p>
              “ Real education should consist of drawing the goodness and the
              best out of our own students. What better books can there be
              than the book of humanity “
            </p>
            <div class="duty"></div>
            <a
              href="https://www.linkedin.com/in/srijan-kumar-272771252"
              target="_blank"
              ><button class="btn-srijan">Follow +</button></a
            >
          </div>
        </center>
      </div>
      <div class="card">
        <center><img src="./images/creator/nitesh.jpg" /></center>
        <center>
          <div class="card-title">Nitesh Kumar</div>
          <div id="detail">
            <p>
              “ Real education should consist of drawing the goodness and the
              best out of our own students. What better books can there be
              than the book of humanity “
            </p>
            <div class="duty"></div>
            <a href="https://www.linkedin.com/in/iamnkr/" target="_blank"
              ><button class="btn-nitesh">Follow +</button></a
            >
          </div>
        </center>
      </div>
      <div class="card">
        <center><img src="./images/creator/tapan.jpg" /></center>
        <center>
          <div class="card-title">Tapan Kumar</div>
          <div id="detail">
            <p>
              “ Real education should consist of drawing the goodness and the
              best out of our own students. What better books can there be
              than the book of humanity “
            </p>
            <div class="duty"></div>
            <a
              href="https://www.linkedin.com/in/tapan-kumar-464405260/"
              target="_blank"
              ><button class="btn-tapan">Follow +</button></a
            >
          </div>
        </center>
      </div>
    </div>
  </div>

<!-- CONTACT US -->
<div class="diffSection" id="contactus_section">
    <center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
    <div class="csec"></div>
    <div class="back-contact">
      <div class="cc">
        <form
          action="mailto:roshank9419@gmail.com"
          method="post"
          enctype="text/plain"
        >
          <label>First Name <span class="imp">*</span></label
          ><label style="margin-left: 185px"
            >Last Name <span class="imp">*</span></label
          ><br />
          <center>
            <input
              type="text"
              name=""
              style="margin-right: 10px; width: 175px"
              required="required"
            /><input
              type="text"
              name="lname"
              style="width: 175px"
              required="required"
            /><br />
          </center>
          <label>Email <span class="imp">*</span></label
          ><br />
          <input
            type="email"
            name="mail"
            style="width: 100%"
            required="required"
          /><br />
          <label>Message <span class="imp">*</span></label
          ><br />
          <input
            type="text"
            name="message"
            style="width: 100%"
            required="required"
          /><br />
          <label>Additional Details</label><br />
          <textarea name="addtional"></textarea><br />
          <button type="submit" id="csubmit">Send Message</button>
        </form>
      </div>
    </div>
  </div>

  
  <%- include('./partials/mainfooter.ejs') %>