<%- include('./partials/mainheader.ejs') %>

<!-- SERVICES -->
<div class="service-swipe">
    <div class="diffSection" id="services_section">
      <center>
        <p
          style="
            font-size: 50px;
            padding: 100px;
            padding-bottom: 40px;
            color: #fff;
          "
        >
          Services
        </p>
      </center>
    </div>
    <a href="subjects/computer_courses.html"
      ><div class="s-card">
        <img src="images/icon/computer-courses.png" />
        <p>Free Online Computer Courses</p>
      </div></a
    >
  
    <a href="https://meet.google.com/kvo-grmg-yai"
      ><div class="s-card">
        <img src="images/icon/online-tutorials.png" />
        <p>Online Video Lectures</p>
      </div></a
    >
    
  
    <a href="https://wa.me/9123120581"
      ><div class="s-card">
        <img src="images/icon/discussion.png" />
        <p>Discussion with Our Tutors & Mentors</p>
      </div></a
    >
  
  </div>



  <%- include('./partials/mainfooter.ejs') %>
